.create-run-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 245px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.create-run-form__pending {
  background-color: #ddd;
  transition-duration: 0.2s;
}

.create-run-form__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
}

.create-run-form__form p {
  font-size: 0.8em;
  color: #666;
}

.create-run-form__dim {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.create-run-form__dim > input {
  max-width: 90px;
}
